<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/warehouse/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent">
            <p>
                <label>仓库编号：</label>
                <#if (warehouse.warehouseCode)??>
                    <input type="text" name="warehouseCode" class="required alphanumeric toUp" maxlength="40" value="${warehouse.warehouseCode}" readonly="readonly"/>
                <#else>
                    <input type="text" name="warehouseCode" class="required alphanumeric toUp" maxlength="40" value="" alt="请输入仓库编号"
                           remote="${rc.getContextPath()}/warehouse/verify" warn="仓库编号已经存在"/>
                </#if>
            </p>
            <p>
                <label>仓库名称：</label>
                <input type="text" name="warehouseText" class="required" maxlength="60"
                       value="<#if (warehouse.warehouseText)??>${warehouse.warehouseText!''}</#if>" alt="请输入仓库名称"/>
            </p>
        </div>
        <#if (warehouse.warehouseCode)??>
            <#assign createInfo=warehouse/>
            <#include "/common/createInfo.html">
        </#if>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>