<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/stock/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent">
            <p>
                <label>仓库：</label>
                <input name="warehouseCode" value="" type="hidden"/>
                <input name="warehouse.warehouseCode" value="" type="hidden"/>
                <input type="text" name="warehouse.warehouseText" class="required" value="" placeholder="请选择仓库" readonly="readonly"/>
                <a class="btnLook" href="${rc.getContextPath()}/warehouse/lookup" warn="请选择仓库" lookupGroup="warehouse">查找带回</a>
            </p>
            <p>
                <label>物料：</label>
                <input name="materialCode" value="" type="hidden"/>
                <input name="material.materialCode" value="" type="hidden"/>
                <input type="text" name="material.materialText" class="required" value="" placeholder="请选择物料" readonly="readonly"/>
                <a class="btnLook" href="${rc.getContextPath()}/material/lookup" warn="请选择物料" lookupGroup="material">查找带回</a>
            </p>
            <p>
                <label>库存：</label>
                <input type="text" name="stock" class="required digits" min="0" maxlength="9" value="" alt="请输入库存数量"/>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="stock_add.save();">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>

    var stock_add = {

        $dialog : $.pdialog.getCurrent(),

        //保存
        save: function () {
            var warehouseCode = $('input[name="warehouse.warehouseCode"]', stock_add.$dialog).val();
            var materialCode = $('input[name="material.materialCode"]', stock_add.$dialog).val();
            $('input[name="warehouseCode"]', stock_add.$dialog).val(warehouseCode);
            $('input[name="materialCode"]', stock_add.$dialog).val(materialCode);

            //校验唯一
            $.ajax({
                url: '${rc.getContextPath()}/stock/verify',
                data: {
                    warehouseCode: warehouseCode,
                    materialCode: materialCode
                },
                dataType: "json",
                success: function (json) {
                    if (json === true) {
                        $('form', stock_add.$dialog).submit();
                    } else {
                        alertMsg.error("库存已存在");
                    }
                }
            });
        }
    }

</script>