<div class="pageHeader">
    <div class="searchBar">
        <div class="pageFormContent">
            <dl>
                <dt>仓库：</dt>
                <dd>
                    <input type="hidden" name="warehouse.warehouseCode">
                    <input type="text" name="warehouse.warehouseText" readonly="readonly"/>
                    <a class="btnLook" href="${rc.getContextPath()}/warehouse/lookup" warn="请选择仓库" lookupGroup="warehouse">查找带回</a>
                </dd>
            </dl>
            <dl>
                <dt>物料：</dt>
                <dd>
                    <input type="hidden" name="material.materialCode">
                    <input type="text" name="material.materialText" readonly="readonly"/>
                    <a class="btnLook" href="${rc.getContextPath()}/material/lookup" warn="请选择物料" lookupGroup="material">查找带回</a>
                </dd>
            </dl>
            <dl class="nowrap"></dl>
            <dl>
                <dt>数量：</dt>
                <dd>
                    <input type="text" name="quantity" class="required digits" min="0" maxlength="9"/>
                </dd>
            </dl>
            <dl>
                <dt>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="output.addStock();">添加</button>
                        </div>
                    </div>
                </dt>
                <dd>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="output.saveStock()">出库</button>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="pageContent">
    <table class="table" width="100%" layoutH="120">
        <thead>
        <tr>
            <th width="30">操作</th>
            <th width="120">仓库编号</th>
            <th width="150">仓库描述</th>
            <th width="120">物料编号</th>
            <th width="150">物料描述</th>
            <th width="120">数量</th>
        </tr>
        </thead>
        <tbody id="stockTBody">
        </tbody>
    </table>
</div>
<script>

    var output = {

        $panel : navTab.getCurrentPanel(),

        //添加库存
        addStock: function () {
            var warehouseCode = $('input[name="warehouse.warehouseCode"]', output.$panel).val();
            var warehouseText = $('input[name="warehouse.warehouseText"]', output.$panel).val();
            var materialCode = $('input[name="material.materialCode"]', output.$panel).val();
            var materialText = $('input[name="material.materialText"]', output.$panel).val();
            var quantity = $('input[name="quantity"]', output.$panel).val();
            if (!warehouseCode) {
                alertMsg.warn('请选择仓库');
                return;
            }
            if (!materialCode) {
                alertMsg.warn('请选择物料');
                return;
            }
            if (!quantity || quantity < 1) {
                alertMsg.warn('请输入正确的数量');
                return;
            }
            var element = $('#stock_' + warehouseCode + '_' + materialCode, output.$panel);
            if (element.length == 0) {
                var id = 'stock_' + warehouseCode + '_' + materialCode;
                var stock = {
                    warehouseCode: warehouseCode,
                    warehouseText: warehouseText,
                    materialCode: materialCode,
                    materialText: materialText,
                    quantity: quantity
                };
                var html = "<tr id='" + id + "' stock='" + JSON.stringify(stock) + "'>" +
                    "<td><a class='btnDel' title='' href=\"javascript:output.delStock('" + warehouseCode + "','" + materialCode + "');\"></a></td>" +
                    "<td>" + warehouseCode + "</td>" +
                    "<td>" + warehouseText + "</td>" +
                    "<td>" + materialCode + "</td>" +
                    "<td>" + materialText + "</td>" +
                    "<td>" + quantity + "</td>" +
                    "</tr>";
                $('#stockTBody', output.$panel).append(html);
                $.jTableTool.initGridColumnWidth($("#stockTBody", output.$panel).parents(".grid"));
                output.clear();
            } else {
                alertMsg.warn('出库记录已存在');
            }
        },

        //清除
        clear: function () {
            $('input[name="warehouse.warehouseCode"]', output.$panel).val('');
            $('input[name="warehouse.warehouseText"]', output.$panel).val('');
            $('input[name="material.materialCode"]', output.$panel).val('');
            $('input[name="material.materialText"]', output.$panel).val('');
            $('input[name="quantity"]', output.$panel).val('');
        },

        //删除库存记录
        delStock: function (warehouseCode, materialCode) {
            $('#stock_' + warehouseCode + '_' + materialCode, output.$panel).remove();
            $.jTableTool.initGridColumnWidth($("#stockTBody", output.$panel).parents(".grid"));
        },

        //出库
        saveStock: function () {
            var stock = [];
            $('#stockTBody', output.$panel).find('tr').each(function () {
                stock.push(JSON.parse($(this).attr('stock')));
            });
            if (stock.length == 0) {
                alertMsg.warn('请添加出库记录');
                return;
            }
            alertMsg.confirm('确定要提交出库操作？提交后不能撤销。', {
                okCall: function () {
                    $.ajax({
                        url: contextPath + "/operationStock/outputStock",
                        data: {
                            stocks: JSON.stringify(stock)
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result.statusCode == 200) {
                                navTab.reload(contextPath + "/operationStock/output?navTabId=${navTabId!''}");
                                alertMsg.confirm("出库成功，单据编号：" + result.message, {});
                            } else {
                                alertMsg.error(result.message);
                            }
                        }
                    });
                }
            });
        }
    }

</script>