<div class="pageHeader">
    <div class="searchBar">
        <div class="pageFormContent">
            <dl>
                <dt>仓库：</dt>
                <dd>
                    <input type="hidden" name="warehouse.warehouseCode">
                    <input type="text" name="warehouse.warehouseText" readonly="readonly"/>
                    <a class="btnLook" href="warehouse/lookup" warn="请选择仓库" lookupGroup="warehouse">查找带回</a>
                </dd>
            </dl>
            <dl>
                <dt>物料：</dt>
                <dd>
                    <input type="hidden" name="material.materialCode">
                    <input type="text" name="material.materialText" readonly="readonly"/>
                    <a class="btnLook" href="material/lookup" warn="请选择物料" lookupGroup="material">查找带回</a>
                </dd>
            </dl>
            <dl class="nowrap"></dl>
            <dl>
                <dt>数量：</dt>
                <dd>
                    <input type="text" name="quantity" class="required digits" min="0" maxlength="9"/>
                </dd>
            </dl>
            <dl>
                <dt>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="addStock();">添加</button>
                        </div>
                    </div>
                </dt>
                <dd>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" onclick="saveStock()">入库</button>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="pageContent">
    <table class="table" width="100%" layoutH="120">
        <thead>
        <tr>
            <th width="30">操作</th>
            <th width="120">仓库编号</th>
            <th width="150">仓库描述</th>
            <th width="120">物料编号</th>
            <th width="150">物料描述</th>
            <th width="120">数量</th>
        </tr>
        </thead>
        <tbody id="stockTBody">
        </tbody>
    </table>
</div>
<script>

    var $panel = navTab.getCurrentPanel();

    //添加库存
    function addStock() {
        var warehouseCode = $('input[name="warehouse.warehouseCode"]', $panel).val();
        var warehouseText = $('input[name="warehouse.warehouseText"]', $panel).val();
        var materialCode = $('input[name="material.materialCode"]', $panel).val();
        var materialText = $('input[name="material.materialText"]', $panel).val();
        var quantity = $('input[name="quantity"]', $panel).val();
        if (!warehouseCode) {
            alertMsg.warn('请选择仓库');
            return;
        }
        if (!materialCode) {
            alertMsg.warn('请选择物料');
            return;
        }
        if (!quantity || quantity < 1) {
            alertMsg.warn('请输入正确的数量');
            return;
        }
        var element = $('#stock_' + warehouseCode + '_' + materialCode, $panel);
        if (element.length == 0) {
            var id = 'stock_' + warehouseCode + '_' + materialCode;
            var stock = {
                warehouseCode : warehouseCode,
                warehouseText : warehouseText,
                materialCode : materialCode,
                materialText : materialText,
                quantity : quantity
            };
            var html = "<tr id='" + id + "' stock='" + JSON.stringify(stock) + "'>" +
                        "<td><a class='btnDel' title='' href=\"javascript:delStock('" + warehouseCode + "','" + materialCode + "');\"></a></td>" +
                        "<td>" + warehouseCode + "</td>" +
                        "<td>" + warehouseText + "</td>" +
                        "<td>" + materialCode + "</td>" +
                        "<td>" + materialText + "</td>" +
                        "<td>" + quantity + "</td>" +
                       "</tr>";
            $('#stockTBody', $panel).append(html);
            $.jTableTool.initGridColumnWidth($("#stockTBody", $panel).parents(".grid"));
            clear();
        } else {
            alertMsg.warn('入库记录已存在');
        }
    }

    //清除
    function clear(){
        $('input[name="warehouse.warehouseCode"]', $panel).val('');
        $('input[name="warehouse.warehouseText"]', $panel).val('');
        $('input[name="material.materialCode"]', $panel).val('');
        $('input[name="material.materialText"]', $panel).val('');
        $('input[name="quantity"]', $panel).val('');
    }

    //删除添加记录
    function delStock(warehouseCode, materialCode) {
        $('#stock_' + warehouseCode + '_' + materialCode, $panel).remove();
        $.jTableTool.initGridColumnWidth($("#stockTBody", $panel).parents(".grid"));
    }

    //入库
    function saveStock(){
        var stock = [];
        $('#stockTBody', $panel).find('tr').each(function () {
            stock.push(JSON.parse($(this).attr('stock')));
        });
        if(stock.length == 0){
            alertMsg.warn('请添加库存');
            return;
        }
        alertMsg.confirm('确定要提交入库操作？提交后不能撤销。', {
            okCall: function () {
                $.ajax({
                    url: contextPath + "/operationStock/inputStock",
                    data: {
                        stocks: JSON.stringify(stock)
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.statusCode == 200) {
                            navTab.reload(contextPath + "/operationStock/input?navTabId=${navTabId!''}");
                            alertMsg.confirm("入库成功，单据编号：" + result.message, {});
                        } else {
                            alertMsg.error(result.message);
                        }
                    }
                });
            }
        });
    }

</script>