<#include "/common/pagerForm.html">
<div class="pageHeader">
    <form rel="pagerForm" method="post" action="" class="pageForm required-validate" onsubmit="return navTabSearch(this);">
        <div class="searchBar">
            <div class="pageFormContent">
                <dl>
                    <dt>成品编号：</dt>
                    <dd><input type="text" name="productionCode" maxlength="40" value="<#if (page.productionCode)??>${page.productionCode!''}</#if>"/></dd>
                </dl>
                <dl>
                    <dt>成品描述：</dt>
                    <dd><input type="text" name="productionText" maxlength="60" value="<#if (page.productionText)??>${page.productionText!''}</#if>"/></dd>
                </dl>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" target="dialog" mask="true" width="440" height="460" rel="addProduction" title="新增成品"
                   href="${rc.getContextPath()}/production/add?navTabId=${navTabId}"><span>新增</span></a></li>
            <li><a class="edit" target="dialog" mask="true" width="440" height="530" rel="editProduction" title="编辑成品"
                   href="${rc.getContextPath()}/production/edit?productionCode={productionCode}&navTabId=${navTabId}"><span>编辑</span></a></li>
            <li><a class="icon" target="dialog" mask="true" width="440" height="530" rel="viewProduction" title="成品详情"
                   href="${rc.getContextPath()}/production/view?productionCode={productionCode}&navTabId=${navTabId}"><span>详情</span></a></li>
            <li><a class="delete" target="ajaxTodo" rel="deleteProduction" title="确定要删除选择的成品吗?"
                   href="${rc.getContextPath()}/production/delete?productionCode={productionCode}&navTabId=${navTabId}"><span>删除</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="140">
        <thead>
        <tr>
            <th width="120" orderField="productionCode" <#if (page.orderField?? && page.orderField=='productionCode')>class="${page.orderDirection!''}"</#if>>成品编号</th>
            <th width="120" orderField="productionText" <#if (page.orderField?? && page.orderField=='productionText')>class="${page.orderDirection!''}"</#if>>成品描述</th>
            <th width="80" orderField="createUser" <#if (page.orderField?? && page.orderField=='createUser')>class="${page.orderDirection!''}"</#if>>创建人</th>
            <th width="120" orderField="createDateTime" <#if (page.orderField?? && page.orderField=='createDateTime')>class="${page.orderDirection!''}"</#if>>创建时间</th>
            <th width="80" orderField="modifyUser" <#if (page.orderField?? && page.orderField=='modifyUser')>class="${page.orderDirection!''}"</#if>>修改人</th>
            <th width="120" orderField="modifyDateTime" <#if (page.orderField?? && page.orderField=='modifyDateTime')>class="${page.orderDirection!''}"</#if>>修改时间</th>
        </tr>
        </thead>
        <tbody>
        <#if (page?? && page.data?size>0)>
            <#list page.data as production>
                <tr target="productionCode" rel="${production.productionCode!''}">
                    <td>${production.productionCode!''}</td>
                    <td>${production.productionText!''}</td>
                    <td>${production.createUserText!''}</td>
                    <td>${production.createDateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
                    <td>${production.modifyUserText!''}</td>
                    <td>${production.modifyDateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
                </tr>
            </#list>
        <#else>
            <tr>
                <td colspan="7" class="noData">======列表无数据=====</td>
            </tr>
        </#if>
        </tbody>
    </table>
    <#include "/common/panelBar.html">
</div>