<link href="${rc.getContextPath()}/css/dwz.custom.css" rel="stylesheet" type="text/css">
<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/purchase/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent">
            <dl>
                <dt>采购编号：</dt>
                <dd>
                    <input type="text" name="purchaseCode" class="required alphanumeric toUp" maxlength="40" readonly="readonly"
                           value="<#if (purchase.purchaseCode)??>${purchase.purchaseCode!''}</#if>"/>
                </dd>
            </dl>
            <dl>
                <dt>采购类型：</dt>
                <dd>
                    <input type="text" name="purchaseType" class="required" maxlength="20" readonly="readonly"
                           value="<#if (purchase.purchaseTypeText)??>${purchase.purchaseTypeText!''}</#if>"/>
                </dd>
            </dl>
            <dl>
                <dt>采购状态：</dt>
                <dd>
                    <input type="text" name="purchaseStatus" class="required" maxlength="20" readonly="readonly"
                           value="<#if (purchase.purchaseStatusText)??>${purchase.purchaseStatusText!''}</#if>"/>
                </dd>
            </dl>
            <dl style="height: auto;">
                <dt>
                <div class="tabs" currentIndex="0" eventType="click" style="width: 400px">
                    <div class="tabsHeader">
                        <div class="tabsHeaderContent">
                            <ul><li><a href="javascript:;"><span>订单</span></a></li></ul>
                        </div>
                    </div>
                    <div class="tabsContent">
                        <div style="height: 120px">
                            <table class="table border" width="100%" layoutH="470">
                                <thead>
                                <tr>
                                    <th width="100">订单编号</th>
                                    <th width="100">订单描述</th>
                                </tr>
                                </thead>
                                <tbody id="orderTBody">
                                <#if (orders?? && orders?size>0)>
                                    <#list orders as order>
                                        <tr>
                                            <td>${order.orderCode!''}</td>
                                            <td>${order.orderText!''}</td>
                                        </tr>
                                    </#list>
                                </#if>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </dt>
            </dl>
            <dl style="height: auto;">
                <dt>
                <div class="tabs" currentIndex="0" eventType="click" style="width: 400px">
                    <div class="tabsHeader">
                        <div class="tabsHeaderContent">
                            <ul><li><a href="javascript:;"><span>物料</span></a></li></ul>
                        </div>
                    </div>
                    <div class="tabsContent">
                        <div style="height: 120px">
                            <table class="table border" width="100%" layoutH="470">
                                <thead>
                                <tr>
                                    <th width="100">物料编号</th>
                                    <th width="100">物料描述</th>
                                    <th width="100">数量</th>
                                </tr>
                                </thead>
                                <tbody id="materialTBody">
                                <#if (materials?? && materials?size>0)>
                                    <#list materials as material>
                                        <tr>
                                            <td>${material.materialCode!''}</td>
                                            <td>${material.materialText!''}</td>
                                            <td>${material.quantity!''}</td>
                                        </tr>
                                    </#list>
                                </#if>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </dt>
            </dl>
        </div>
        <#if (purchase.purchaseCode)??>
            <#assign createInfo=purchase/>
            <#include "/common/createInfo.html">
        </#if>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive"><div class="buttonContent"><button type="button" onclick="purchase_order_view.export()">导出</button></div></div>
                </li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>

    var message = "${message!''}";
    if (message) {
        alertMsg.warn(message);
    }

    var $dialog = $.pdialog.getCurrent();

    var purchase_order_view = {

        //导出
        export: function () {
            var purchaseCode = $('input[name="purchaseCode"]', $dialog).val();
            alertMsg.confirm('确定要导出采购清单吗', {
                okCall: function () {
                    window.open('${rc.getContextPath()}/purchase/export?purchaseCode=' + purchaseCode);
                }
            });
        }
    }

</script>