<link href="${rc.getContextPath()}/css/dwz.custom.css" rel="stylesheet" type="text/css">
<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/purchase/save" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent">
            <dl>
                <dt>采购编号：</dt>
                <dd>
                    <#if (purchase.purchaseCode)??>
                        <input type="text" name="purchaseCode" class="required alphanumeric toUp" maxlength="40" value="${purchase.purchaseCode}" readonly="readonly"/>
                    <#else>
                        <input type="text" name="purchaseCode" class="required alphanumeric toUp" maxlength="40" value="" alt="请输入采购编号"
                               remote="${rc.getContextPath()}/purchase/verify" warn="采购编号已经存在"/>
                    </#if>
                </dd>
            </dl>
            <#if (purchase.purchaseCode)??>
                <dl>
                    <dt>采购状态：</dt>
                    <dd>
                        <input type="hidden" name="purchaseStatus" value="<#if (purchase.purchaseStatus)??>${purchase.purchaseStatus!''}</#if>">
                        <input type="text" name="purchaseStatusText" class="required" maxlength="60" readonly="readonly"
                               value="<#if (purchase.purchaseStatusText)??>${purchase.purchaseStatusText!''}</#if>"/>
                    </dd>
                </dl>
            </#if>
            <dl style="width:auto;height: auto;">
                <dt>
                <div class="tabs" currentIndex="0" eventType="click" style="width: 400px">
                    <div class="tabsHeader">
                        <div class="tabsHeaderContent">
                            <ul><li><a href="javascript:;"><span>物料</span></a></li></ul>
                        </div>
                    </div>
                    <div class="tabsContent">
                        <div style="height: 310px">
                            <div class="pBar">
                                <ul class="toolBar">
                                    <input id="materials" name="materials" type="hidden">
                                    <input id="materialCode" name="materialLookup.materialCode" type="hidden">
                                    <input id="materialText" name="materialLookup.materialText" type="hidden">
                                    <li><a class="add" href="${rc.getContextPath()}/material/lookup?navTabId=${navTabId!''}" lookupGroup="materialLookup" callback="purchase_add.material_callback" title="新增物料"><span>新增</span></a>
                                    <li><a class="delete" href="javascript:" onclick="purchase_add.delMaterial()"><span>删除</span></a></li>
                                </ul>
                            </div>
                            <table class="table border" width="100%" <#if (purchase.purchaseCode)??>layoutH="300"<#else>layoutH="190"</#if>>
                            <thead>
                            <tr>
                                <th width="20"><input type="checkbox" group="materialCodes" class="checkboxCtrl">
                                <th width="100">物料编号</th>
                                <th width="100">物料描述</th>
                                <th width="100">数量</th>
                            </tr>
                            </thead>
                            <tbody id="materialTBody">
                            <#if (materials?? && materials?size>0)>
                                <#list materials as material>
                                    <tr id="material_${material.materialCode!''}">
                                        <td><input type="checkbox" name="materialCodes" value="${material.materialCode!''}" class="checkboxCtrl"/></td>
                                        <td>${material.materialCode!''}</td>
                                        <td>${material.materialText!''}</td>
                                        <td><input type='text' name='quantity' style='width: 100px;' min='0' maxlength='9' value="${material.quantity!''}"/></td>
                                    </tr>
                                </#list>
                            </#if>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </dt>
            </dl>
        </div>
        <#if (purchase.purchaseCode)??>
            <#assign createInfo=purchase/>
            <#include "/common/createInfo.html">
        </#if>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="purchase_add.save();">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script>

    var purchase_add = {

        $dialog : $.pdialog.getCurrent(),

        //查找带回
        material_callback: function () {
            var materialCode = $("#materialCode", this.$dialog).val();
            var materialText = $("#materialText", this.$dialog).val();
            var html = "";
            var element = $("#material_" + materialCode, this.$dialog);
            if (element.length == 0) {
                html += "<tr id='material_" + materialCode + "'>" +
                        "<td><input name='materialCodes' value='" + materialCode + "' type='checkbox'/></td>" +
                        "<td>" + materialCode + "</td>" +
                        "<td>" + materialText + "</td>" +
                        "<td><input type='text' name='quantity' style='width: 100px;' min='0' maxlength='9'/></td>" +
                        "</tr>";
                $("#materialTBody", this.$dialog).append(html);
                $.jTableTool.initGridColumnWidth($("#materialTBody", this.$dialog).parents(".grid"));
            } else {
                alertMsg.warn('物料已存在');
            }
        },

        //删除物料
        delMaterial: function () {
            var count = 0;
            $('input[name="materialCodes"]:checked', this.$dialog).each(function () {
                count++;
            });
            if (count == 0) {
                alertMsg.warn('请勾选物料');
            } else {
                alertMsg.confirm("确定要删除选中的物料吗？", {
                    okCall: function () {
                        $('input[name="materialCodes"]:checked', this.$dialog).each(function (i, e) {
                            $("#material_" + e.value).remove();
                        });
                        $.jTableTool.initGridColumnWidth($("#materialTBody", this.$dialog).parents(".grid"));
                    }
                });
            }
        },

        //保存
        save: function () {
            var materials = [];
            var flag = true;
            $('#materialTBody', this.$dialog).find('tr').each(function () {
                var quantity = $(this).find('input[name="quantity"]').val();
                if (!quantity || isNaN(parseInt(quantity)) || quantity < 1) {
                    alertMsg.warn('请输入正确的数量');
                    flag = false;
                    return false;
                }
                var material = {};
                material.materialCode = $(this).attr('id').replace("material_","");
                material.quantity = quantity;
                materials.push(material);
            });
            if (flag) {
                $('#materials', this.$dialog).val(JSON.stringify(materials));
                $('form', this.$dialog).submit();
            }
        }
    }

</script>