<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/menu/save" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent">
            <dl class="nowrap">
                <dt>菜单编号：</dt>
                <dd><input type="text" name="menuCode" class="required alphanumeric toUp" maxlength="40" readonly="readonly"
                           value="<#if (menu.menuCode)??>${menu.menuCode!''}</#if>"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>菜单名称：</dt>
                <dd>
                    <input type="text" name="menuText" class="required" maxlength="60"
                           value="<#if (menu.menuText)??>${menu.menuText!''}</#if>"/>
                </dd>
            </dl>
            <input type="hidden" name="displayOrdinal" value="<#if (menu.displayOrdinal)??>${menu.displayOrdinal!''}</#if>">
        </div>
        <#if (menu.menuCode)??>
            <#assign createInfo=menu/>
            <#include "/common/createInfo.html">
        </#if>
        <div class="pageFormContent">
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">保存</button>
                </div>
            </div>
            <div class="button" style="margin-left: 10px;">
                <div class="buttonContent">
                    <button type="button" onclick="menu_edit.cancel()">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    var menu_edit = {

        //取消
        cancel: function () {
            var html = "<div class='treeTip'>请点击左侧树形菜单进行相关操作</div>";
            $("#menuDetail", navTab.getCurrentPanel()).html(html);
        }
    };


</script>