<div class="pageContent">
    <form method="post" action="${rc.getContextPath()}/user/password/save" class="pageForm required-validate" onsubmit="return validateCallback(this, changePwd)">
        <div class="pageFormContent">
            <div class="unit">
                <label>原密码：</label>
                <input type="password" name="oldPassword" minlength="6" maxlength="20" class="required" />
            </div>
            <div class="unit">
                <label>新密码：</label>
                <input type="password" id="cp_newPassword" name="newPassword" minlength="6" maxlength="20" class="required alphanumeric"/>
            </div>
            <div class="unit">
                <label>确认密码：</label>
                <input type="password" name="rnewPassword" equalTo="#cp_newPassword" class="required alphanumeric"/>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
<script>

    function changePwd(result) {
        if(result.statusCode == 200){
            //关闭弹出框
            $.pdialog.closeCurrent();
            alertMsg.info("密码修改成功，请重新登录");
            //ajax 发送登出请求
            $.get($('#header .loginOut', $(document)).attr('href'));
            //两秒后刷新页面
            setTimeout(function () {
                location.reload(false);
            }, 2000);
        }else{
            alertMsg.error(result.message);
        }
    }

</script>
