<#include "common/header.html">
<div id="layout">
    <div id="header">
        <div class="headerNav">
            <a class="logo" href="${rc.getContextPath()}/index">标志</a>
            <ul class="nav">
                <li><a href="#">${user.userText!''}</a></li>
                <li><a>修改密码</a></li>
                <li><a href="${rc.getContextPath()}/logout">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="leftside">
        <div id="sidebar_s">
            <div class="collapse">
                <div class="toggleCollapse"><div></div></div>
            </div>
        </div>
        <div id="sidebar">
            <div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>
            <div class="accordion" fillSpace="sidebar">
            <#if menuTree??>
                <#list menuTree as menu>
                    <div class="accordionHeader">
                        <h2><span>Folder</span>${menu.menuText!''}</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            <#if menu.children?? && menu.children?size gt 0>
                                <@menusTree children = menu.children />
                            </#if>
                        </ul>
                    </div>
                </#list>
            </#if>
            </div>
        </div>
    </div>
    <!-- 递归产生树的宏定义 -->
    <#macro menusTree children>
        <#if children?? && children?size gt 0>
            <#list children as child>
                <#if child.isLeaf>
                    <li>
                        <a href="${rc.getContextPath()}${child.webUrl!''}?navTabId=${child.menuCode!''}"
                           target="navTab" rel="${child.menuCode!''}">${child.menuText}</a>
                    </li>
                    <#else>
                    <li>
                        <a href="#">${child.menuText}</a>
                        <#if child.children?? && child.children?size gt 0>
                            <ul>
                                <@menusTree children=child.children />
                            </ul>
                        </#if>
                    </li>
                </#if>
            </#list>
        </#if>
    </#macro>
    <div id="container">
        <div id="navTab" class="tabsPage">
            <div class="tabsPageHeader">
                <div class="tabsPageHeaderContent">
                    <!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
                    <ul class="navTab-tab">
                        <li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
                    </ul>
                </div>
                <div class="tabsLeft">left</div>
                <!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
                <div class="tabsRight">right</div>
                <!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
                <div class="tabsMore">more</div>
            </div>
            <ul class="tabsMoreList">
                <li><a href="javascript:;">我的主页</a></li>
            </ul>
            <div class="navTab-panel tabsPageContent layoutBox">
                <div class="page unitBox">
                </div>
            </div>
        </div>
    </div>
</div>
<#include "common/footer.html">