<link href="${rc.getContextPath()}/login/login.css" rel="stylesheet" type="text/css">
<script src="${rc.getContextPath()}/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="${rc.getContextPath()}/js/jquery.cookie.js" type="text/javascript"></script>
<style>
    #header {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 28px;
        text-align: center;
        line-height: 28px;
        margin-bottom: 5px;
        color: #ffffff;
    }

    #header span {
        color: #66CCCC;
        cursor: pointer;
    }
</style>
<div class="main">
    <div class="content">
        <div class="con_right">
            <div class="con_r_top">
                <a href="javascript:;" class="right"
                   style="color: rgb(51, 51, 51); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(46, 85, 142);">豪英轴承仓储管理系统</a>
            </div>
            <ul>
                <li class="con_r_right" style="display: block;">
                    <form id="form" method="post" action="${rc.getContextPath()}/doLogin" autocomplete="off">
                        <div class="user">
                            <div>
                                <span class="user-icon"></span>
                                <input type="text" name="userCode" placeholder="　输入账号" value="${userCode!''}">
                            </div>
                            <div>
                                <span class="mima-icon"></span>
                                <input type="password" name="password" placeholder="　输入密码" value="${password!''}">
                            </div>
                        </div>
                        <div class="tips">
                            <#if message??>*${message}</#if>
                        </div>
                        <button id="btn_Login" type="button">登 录</button>
                    </form>
                </li>
            </ul>
        </div>
        <div id="header">
            Copyright &copy; 2018 宁波豪英轴承有限公司 由<span title="ZZP工作室&#10;产品：朱恒飞&nbsp;&nbsp;&nbsp;QQ：1069153882&#10;研发：朱乾昶&nbsp;&nbsp;&nbsp;QQ：547432428&#10;测试：裴微燕&nbsp;&nbsp;&nbsp;测试漂亮妹子不提供QQ，防骚扰&#10;">ZZP工作室</span>提供技术支持
        </div>
    </div>
</div>
<script type="text/javascript">

    var $userCode = $("input[name='userCode']");
    var $password = $("input[name='password']");

    //保存账号到cookie
    function saveCookie(){
        var time = {expires: 7};//默认记录7天
        $.cookie('userCode', $userCode.val(), time);
    }

    //cookie中获取数据
    function assignCookie() {
        if ($userCode.val() == $userCode.attr('placeholder') || $.trim($userCode.val()).length == 0) {
            $userCode.val($.cookie('userCode'))
        }
    }

    $(function () {

        assignCookie();

        $(document).keydown(function(event) {
            //回车事件
            if (event.keyCode == 13) {
                $('#btn_Login').click();
            }
        });

        //登录
        $('#btn_Login').click(function () {
            if ($userCode.val() == $userCode.attr('placeholder') || $.trim($userCode.val()).length == 0) {
                $(".tips").html('*账号不能为空');
                return;
            }
            if ($password.val() == $password.attr('placeholder') || $.trim($password.val()).length == 0) {
                $('.tips').html('*密码不能为空');
                return;
            }

            saveCookie();
            $('#form').submit();
        });
    });
</script>