<#include "/common/pagerForm.html">
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="" method="post">
        <div class="searchBar">
            <div class="pageFormContent">
                <p>
                    <label>角色编号：</label>
                    <input type="text" name="roleCode" value="<#if (role.roleCode)??>${role.roleCode!''}</#if>"/>
                </p>
                <p>
                    <label>角色描述：</label>
                    <input type="text" name="roleText" value="<#if (role.roleText)??>${role.roleText!''}</#if>"/>
                </p>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" target="dialog" mask="true" width="400" height="160" rel="addRole" title="新增角色"
                   href="${rc.getContextPath()}/role/add?navTabId=${navTabId}"><span>新增</span></a></li>
            <li><a class="edit" target="dialog" mask="true" width="400" height="235" rel="editRole" title="编辑角色"
                   href="${rc.getContextPath()}/role/edit?roleCode={roleCode}&navTabId=${navTabId}"><span>编辑</span></a></li>
            <li><a class="edit" target="dialog" mask="true" width="425" height="485" rel="authorize" title="角色授权"
                   href="${rc.getContextPath()}/role/authorize?roleCode={roleCode}&navTabId=${navTabId}"><span>授权</span></a></li>
            <li><a class="icon" target="dialog" mask="true" width="425" height="485" rel="viewRole" title="角色详情"
                   href="${rc.getContextPath()}/role/view?roleCode={roleCode}&navTabId=${navTabId}"><span>详情</span></a></li>
            <li><a class="delete" target="ajaxTodo" rel="deleteRole" title="确定要删除选择的角色吗?"
                   href="${rc.getContextPath()}/role/delete?roleCode={roleCode}&navTabId=${navTabId}"><span>删除</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="140">
        <thead>
        <tr>
            <th width="120" orderField="roleCode" <#if (page.orderField?? && page.orderField=='roleCode')>class="${page.orderDirection!''}"</#if>>角色编号</th>
            <th width="150" orderField="roleText" <#if (page.orderField?? && page.orderField=='roleText')>class="${page.orderDirection!''}"</#if>>角色描述</th>
            <th width="80" orderField="createUser" <#if (page.orderField?? && page.orderField=='createUser')>class="${page.orderDirection!''}"</#if>>创建人</th>
            <th width="120" orderField="createDateTime" <#if (page.orderField?? && page.orderField=='createDateTime')>class="${page.orderDirection!''}"</#if>>创建时间</th>
            <th width="80" orderField="modifyUser" <#if (page.orderField?? && page.orderField=='modifyUser')>class="${page.orderDirection!''}"</#if>>修改人</th>
            <th width="120" orderField="modifyDateTime" <#if (page.orderField?? && page.orderField=='modifyDateTime')>class="${page.orderDirection!''}"</#if>>修改时间</th>
        </tr>
        </thead>
        <tbody>
        <#if (page?? && page.data?size>0)>
            <#list page.data as role>
            <tr target="roleCode" rel="${role.roleCode!''}">
                <td>${role.roleCode!''}</td>
                <td>${role.roleText!''}</td>
                <td>${role.createUser!''}</td>
                <td>${role.createDateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
                <td>${role.modifyUser!''}</td>
                <td>${role.modifyDateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
            </tr>
            </#list>
        <#else>
            <tr>
                <td colspan="6" class="noData">======列表无数据=====</td>
            </tr>
        </#if>
        </tbody>
    </table>
    <#include "/common/panelBar.html">
</div>